@media only screen and (max-width: 600px) {
    #gameBoard {
        display: grid;
        grid: repeat(5, 100px) / auto-flow 85px;
        grid-row-gap: 0px;
        justify-content: center;
        height: 100%;
        margin-top: 100px;
        margin-right: 10px;
        
    }

    .card-front, .card-back {
        position: absolute;
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-size: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        backface-visibility: hidden;
        overflow: hidden
    }
}